<div id="container">
    <div class="news">
        <div class="title">
            <h1>CS2 Majors without open qualifiers in Europe and the Americas</h1>
        </div>
        <div class="img">
            <img src="/assets/img/Cs2.jpg" alt="Image of the game">
        </div>
        <div class="content">
            <p class="text">
                Valve's new update to the <span class="emphasis">Majors regulations</span> has put an end to open qualifiers in <span class="emphasis">Europe and the Americas</span>!
                Organizer of the next Major, Perfect World revealed this Friday the dates on which the main tournament will be played
                <span class="emphasis">(November 30th to December 15th)</span> and the RMRs, in-person qualifiers that will all be played in Shanghai.
                The Major's host city will receive its own RMRs which,
                among the new updates to the regulations, will no longer have direct invitations to teams that advanced to  <span class="emphasis">the 2nd stage</span> of previous Majors, another of the big news.
            </p>
           
            <p class="text">
                Increasingly interested in having its ranking active and a reference for everything on the circuit – especially with the end of partner <span class="emphasis">leagues in 2025</span>  – 
                Valve will use its Regional Standings to award invitations to RMR and closed qualifiers.
                Here are the dates to remember for the European qualification cycle which, at the moment, 
                has SAW as the <span class="emphasis">14th best team in the region</span>, a classification that would give it direct entry into one of the RMRs:
                
            </p>
            
            <div class="footer">
                <hr>
                <p class="footer-content">Editing for Eudes Jordão</p>
            </div>

        </div>
    </div>
</div>