<div id="container">
    <div class="news">
        <div class="title">
            <h1>MultiVersus has a peak of more than 100 thousand players on Steam after relaunch</h1>
        </div>
        <div class="img">
            <img src="/assets/img/MultiVersus.jpg" alt="Image of the game">
        </div>
        <div class="content">
            <p class="text">
                A few days after being relaunched, last Tuesday (28),
                MultiVersus once again had a peak of more than <span class="emphasis">100 thousand simultaneous</span> players on Steam, the main platform for <span class="emphasis">selling games on PC</span>.
                According to data collected by SteamCharts, which measures the popularity of games on the platform, 
                MultiVersus had 114 thousand simultaneous players in the last 30 days.
            </p>
            
            <p class="text">
                The numbers are similar to those at the launch of the MultiVersus beta, <span class="emphasis">in July 2022</span>, when the game had its record of 153 thousand simultaneous players. 
                The average number of players at launch was 66,000, but there were huge drops, <span class="emphasis">37%, 79% and 67%</span> in the following three months,
                and the number never returned to where it was at the start of the beta until the servers closed in June. 2023.
                
            </p>
            
            <div class="footer">
                <hr>
                <p class="footer-content">Editing for Eudes Jordão</p>
            </div>

        </div>
    </div>
</div>