<div id="container">
    <div class="news">
        <div class="title">
            <h1>Will GTA 6 come to PC? Take-Two CEO answers the question he doesn't want to remain silent</h1>
        </div>
        <div class="img">
            <img src="/assets/img/GTA6.jpg" alt="Image of the game">
        </div>
        <div class="content">
            <p class="text">
                Will GTA 6 come to PC after console? PC gamers have assumed so,
                ever since Rockstar revealed perhaps the world's most sought-after game will only
                be coming to <span class="emphasis">PlayStation 5</span> and Xbox Series X|S at launch.
                Now the head of <span class="emphasis">Rockstar's</span> parent company,
                Take-Two, has issued a vaguely worded statement that,
                if you read between the lines of corporate doublespeak, suggests that yes,
                <span class="emphasis">GTA 6</span> will eventually come to PC.
            </p>
            <p class="text">
                During an interview at a TD Cowen conference this week, as reported by VGC, Take-Two <span class="emphasis">CEO Strauss Zelnick</span> responded
                to a question about whether Rockstar's lack of a PC announcement was definitive or whether a PC version would be announced later.
                Here's <span class="emphasis">Zelnick's</span> full response:
            </p>
            <blockquote class="quote">
                    "Well, the lack of an announcement is not something that can be set in stone, as far as I can tell,
                because the only thing that happens after the lack of an announcement is an announcement,
                I suppose, or a continued lack of an announcement, I guess. that this could also happen.
                It doesn't seem to me that either would be immutable.
                But Rockstar has an approach to platforms that we've seen before and will make more announcements in due course.
                I believe the right strategy for our business is to be where the consumer is,
                and historically what this company has done is address consumers wherever they are,
                on whatever platform makes sense, over time."
            </blockquote>
            
            <div class="footer">
                <hr>
                <p class="footer-content">Editing for Eudes Jordão</p>
            </div>

        </div>
    </div>
</div>
