<div id="container">
    <div class="news">
        <div class="title">
            <h1>COD Black Ops 6 on Game Pass: Microsoft confirms in new trailer that the game will arrive at launch on the subscription service</h1>
        </div>
        <div class="img">
            <img src="/assets/img/Cod.jpg" alt="Image of the game">
        </div>
        <div class="content">
            <p class="text">
                Xbox confirmed news that many fans were waiting for, <span class="emphasis"> Call of Duty: Black Ops 6</span> will arrive directly in the Game Pass catalog at launch.
                COD 2024 has not yet had much information revealed,
                but a trailer released this <span class="emphasis">Tuesday (28)</span> confirmed that the game will reach the subscription service.
            </p>
            
            <p class="text">
                In the trailer, we can see some political figures debating and talking about the truth and the world, nothing is very clear,
                 and the theme that "the truth lies" returns in this preview. Then, the video cuts to the soldier on the game's cover and the video ends.
                We still don't know much about the plot and gameplay of COD Black Ops 6, but news should be presented during the Xbox Showcase on <span class="emphasis"> June 9th</span>.
            </p>
            
            <div class="footer">
                <hr>
                <p class="footer-content">Editing for Eudes Jordão</p>
            </div>

        </div>
    </div>
</div>